/* fixes up margin issues to display properly*/

.no-marg-left {
  	margin-left: 0px;
    display: block;
    margin: 0 auto;
    width: 88%;
}
.one-quarter{
	width: 25%;
    float: left;
}
/* This makes the user image round rather than square */

#user-pic {
	border-radius: 50%;
}

/* font-size to work with my theme design and margin to work with social sharing buttons underneath */

.user-details {
	font-size: 14px;
	margin-bottom: 10px;
  	font-family: Roboto;
}

/* smaller font size and more greyed out color for the date/time details */

#user-date {
	margin-bottom: 9px;
	font-size: 12px;
	color: #717171;
  	font-family: Roboto;
}

/* This is all the "user" details that will pop up */

.user-purchase {
	/* This border was added to work with my design */
	/* border-top: 1px solid #e3e3e3; */
  
	padding: 10px 0;
	
	/* This will make sure nothing is shown at first*/
	display: none;
  	
  	
}
.user-details span {
	/* Fixes the spacing issue for the #city underline(border-bottom) */
	display: inline-block;
}
#fName {
	/* Makes the name bold */
	font-weight: bold;
}

/* Dotted underline for the city */

#city {
	border-bottom: 1px dotted #000;
	text-decoration: none;
}
@media only screen and (max-width:480px){
  .no-marg-left{max-width:100%;width:100%;}
  .no-marg-left img{max-width:100%;}
  .user-details{font-size:12px;}
}




/* #yoHolder,
#fb-root,
#shopmsg-root {
transform: translateY(-130px);
z-index: 999;
} */

@media (max-width:767px) {
  .back-to-top,
  body.product #yoHolder,
  body.product #fb-root,
  body.product #shopmsg-root {
    z-index: 999 !important;
  }

  .stickyAddToCart {
    z-index: 999;
    top: inherit !important;
  }
  .stickyAddToCart form {
    margin-bottom:0
  }
  .stickyAddToCart .image.popup {
    display:none;
    margin-top:20px;
  }
}

